$body-font: "Interx";
$heaer-height: 70px;
$sidebar-width: 300px;
$app-body-background: #f4f6fa;
$app-color-primary: #9799e9;
$app-border-primary: #7e80ed;
$app-color: #1f1f1f;
$border-color: #ececec;
